@import "tailwindcss";

@theme inline {
    --breakpoint-mobile: 375px;
    --breakpoint-tablet: 768px;
    --breakpoint-desktop: 1440px;
  }
.container{
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
}